{% extends 'base.html.twig' %}

{% block title %}Editer mot de passe
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">
            {{ include("admin/base_admin.html.twig") }}
        </div>
        <div class="col-9">
            <div class="container mt-4">
                <h1>Editer le mdp de l'utilisateur '{{ user.email }}'</h1>
                {{ include("admin/user/forms/_form_edit_password.html.twig", {button: 'Editer'}) }}
            </div>
        </div>
    </div>
{% endblock %}
