{% extends 'base.html.twig' %}

{% block title %}Nos biens
{% endblock %}

{% block body %}
	<div class="container">
		<div class="p-5 mb-4 bg-light rounded-3 text-center">
			<div class="container-fluid py-5">
				<h1 class="display-5 fw-bold">Agence Seb Immo</h1>
				<p class="fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, repellat aut cumque quas provident eveniet iste quisquam illum similique id voluptates dolorem officiis labore alias quia quasi aliquid ipsa? Cupiditate.</p>
				<button class="btn btn-primary btn-lg" type="button">Example button</button>
			</div>
		</div>
		<h2>Tous nos biens</h2>
		<div class="row flex">
			{% for property in properties %}
				{% include "property/_propertyCards.html.twig" %}
			{% endfor %}
		</div>
		<div class="mt-4">
			{{ knp_pagination_render(properties) }}
		</div>
	</div>
{% endblock %}
